.row-fluid
  .span4
    .well.sidebar-nav
      %h3 Title:
      %p= @blog.title

      %h3 Description:
      %p= @blog.description

      %h3 Author:
      = render 'author'

      %h3 Followed / Followers
      #follow-numbers
        =render 'devise/follow_numbers'

      %h3 Actions
      - if @blog.user == current_user
        = link_to 'Edit', edit_blog_path(@blog), :class => "btn info"
        - if @blog.kind == 'Discussion' && !@blog.public
          \
          =link_to 'Invite', '#user-list', :class => "btn primary", :rel => 'facebox'
          \
          =link_to 'Invited', '#invited-list', :class => "btn success", :rel => 'facebox'
          #user-list{ :style => 'display:none;'}
            = render :partial => 'users', :locals => {:users => @users}

          #invited-list{ :style => 'display:none'}
            = render :partial => 'users', :locals => {:users => @invited }
      - else
        .follow-button
          =render 'devise/follow_form'





  .span8
    .content
      %p#notice= notice
      -if current_user == @blog.user || (@blog.public && @blog.kind == 'Discussion') || (@blog.invited?(current_user) && @blog.kind == 'Discussion')
        .posts
          %h3 New post
          = simple_form_for @new_post, :url => blog_posts_path(@blog), :remote => :true do |f|
            %fieldset
              = f.input :content, :as => :text, :required => false, :label => ''
              = f.submit "Add post", :class => "btn success add-post"

      %h2 Posts
      #posts-list
        =render 'posts'





