= f.input :name
= f.input :description
= f.input :user, :as => :select
= f.input :deadline, :input_html => { :class => 'dateBox' }
= f.input :estimatedTime
= f.input :project, :as => :select
= f.input :kind, :as => :select
.actions
  = f.submit :class => "btn primary"
