= debug @project.get_tasks.to_a

= debug Db::Task.all.to_a

%h2= @task.name

- if @task.assignee
  %h4
    Assignee:
    = link_to @task.assignee.name, user_path(@task.assignee)

- if @task.milestone
  %h4
    Milestone:
    = link_to @task.milestone.name, project_milestone_path(@project, @task.milestone)
%h4
  Project:
  = link_to @task.project.name, project_path(@task.project)

= link_to "Edit", edit_project_task_path(@project, @task), :class => "btn"
= link_to "Delete", project_task_path(@project, @task), :method => :delete, :class => "btn danger"
