%p#notice= notice

%p
  %b Blog title:
  = @blog.blog_title
%p
  %b Description:
  = @blog.description
%p
  %b User:
  = gravatar_for @blog.user 

%h2 Posts
- @blog.posts.each do |post|
  .post
    %p= post.content
    - if @blog.user == current_user
      = link_to 'Usun', blog_post_path( @blog, post ), :method => :delete 
    %hr


- if @blog.user == current_user
  .posts
    %h3 New post
    = simple_form_for @new_post, :url => blog_posts_path(@blog) do |f|
      %fieldset
        = f.input :content, :as => :text
      .actions
        = f.submit "Add post", :class => "btn success"

  = link_to 'Edit', edit_blog_path(@blog)
  \|
  = link_to 'Back', blogs_path