%h2= @milestone.name

for project
= link_to @project.name, project_path(@project)

.deadline
  Deadline:
  = l(Date.parse(@milestone.deadline.to_s), :format => :long)

.description
  = @milestone.description

= link_to "Edit", edit_project_milestone_path(@project, @milestone), :class => "btn"
= link_to "Delete", project_milestone_path(@project, @milestone), :method => :delete, :class => "btn danger"

%h3 Tasks
= render "shared/tasks", :locals => {:tasks => @milestone.tasks, :show_milestone => false, :show_assignee => true}


= link_to "Add task", new_project_task_path(@project, :milestone_id => @milestone.id), :class => "btn success"
