%h1 Profile 

%h3 Gravatar :
= gravatar_for(@user)

%h3 Username :
%p= @user.email 

%h3 Fullname :
%p= @user.fullname

%h3 Description :
%p= @user.description

%h3 Followed users
=link_to @user.followed_users.count, following_path(@user)

%h3 Followers
=link_to @user.followers.count, followers_path(@user)

-if current_user == @user
  %h3 Actions
  = link_to "Edit profile", edit_profile_path, :class => "btn info"
  = link_to 'Delete user', delte_profile_path, :confirm => 'Are you sure?', :method => :delete, :class => "btn danger"

%h3 Microblogs:
%table{ :style => "width: 300px;"}
  - @user.blogs.each do |blog|
    %tr
      %td= blog.blog_title
      %td= link_to 'Show', blog, :class => "btn primary"

