%h1 Profile 

.profile-display
  %table
    %tr
      %td{ :style => "width : 50%;"}
        %h3 Username :
        %p= @user.email 
      %td{ :style => "width : 50%;"}
        %h3 Fullname :
        %p= @user.fullname
    %tr
      %td{ :style => "width : 50%;"}
        %h3 Gravatar :
        = gravatar_for(@user)
      %td{ :style => "width : 50%;"}
        %h3 Description :
        %p= @user.description
    %tr
      %td
        %h3 Followed / Followers
        #follow-numbers
          =render 'follow_numbers'
      %td
        %h3 Actions
        -if current_user == @user
          = link_to "Edit", edit_profile_path(@user), :class => "btn info"
          = link_to 'Delete', delte_profile_path(@user), :confirm => 'Are you sure?', :method => :delete, :class => "btn danger"
        -else
          =render 'devise/follow_form'

.profile-display
  %h3 Microblogs:
  - if @blogs.count > 0
    %table
      - @blogs.each do |blog|
        %tr
          %td{:class => "blog-title-cell"}= blog.title
          %td= link_to 'Show', blog, :class => "btn primary"
          -if current_user == @user
            %td= link_to 'Edit', edit_blog_path(blog), :class => "btn info"
            %td= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete, :class => "btn danger"
  - else
    %p User doesn't have any microblogs    

  %h3 Discussions:
  - if @discussions.count > 0
    %table
      - @discussions.each do |blog|
        %tr
          %td{:class => "blog-title-cell"}= blog.title
          %td= link_to 'Show', blog, :class => "btn primary"
          -if current_user == @user
            %td= link_to 'Edit', edit_blog_path(blog), :class => "btn info"
            %td= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete, :class => "btn danger"
  - else
    %p User doesn't have any discussions 
