!!! html
%html
  %head
    %title Webapp
    = stylesheet_link_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"
    = stylesheet_link_tag "http://puna.net.nz/client/css/redmond/jquery-ui-1.7.2.custom.css" 
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap-tabs.js"
    = javascript_include_tag "http://puna.net.nz/client/timepicker/js/timepicker.mod.js"
    = csrf_meta_tags
    :css
      #container { width: 800px; padding: 20px; }
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px;
      }
      .container > footer p {
        text-align: center;
      }
      .container {
        width: 820px;
      }


      .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }
      .header-text{
        font-size : 15px;
        color : #fff;
        padding: 8px 20px 12px;
      }
      .actions{
        background : #fff;
        border : none;
        width : 650px;
      }

      tr.success .txt {
        text-decoration: line-through;
      }

      .table-width {
        width : 820px;
      }


%body
  .topbar
    .fill
      .container
        %ul.nav
          %li= link_to "PMS ( :P )", root_path, :class => "brand"
          %li= link_to "Projects", projects_path
          %li= link_to "Users", users_path
        .pull-right.header-text
          - if signed_in?
            Hello #{current_user.email}
            = link_to "Logout", destroy_db_user_session_path

  .container
    .content
      .page-header
        %h1 Project Management System
      .row
        .span16
          .notice= notice
          .alert= alert
          = yield
