%html
  %head
    %title Microblogs
    = stylesheet_link_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"
    = stylesheet_link_tag "http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  .topbar
    .fill
      .container
        %ul.nav
          %li= link_to "Microblogs", root_path, :class => "brand"
          %li= link_to "About", about_path
          %li= link_to "Help", help_path
          %li= link_to "Contact", contact_path
        .pull-right.header-text
          - if signed_in?
            Hello
            = link_to current_user.email, profile_path(current_user), :method => :get, :class => "profile_link"
            = link_to "Logout", destroy_user_session_path , :method => :delete

  .container
    = yield
